* {
    box-sizing: border-box;
    font-family: courier, serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #191970;
    color: #ffffff;
}

nav {
    text-align: center;
    width: 100%;
    position: sticky;
    top: 0;
    font-weight: bold;
    background-color: #000000;
    z-index: 99;
}

.nav-items {
    margin: 0 2rem;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.nav li {
    list-style-type: none;
}

.nav-items a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    padding: 0 1rem;
}

.collection {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.recordcontainer {
    padding: 4rem 1rem;
    margin: 1rem 2rem;
    display: grid;
    grid-template-rows: 0.3fr 0.7fr;
    align-items: end;
}

.albumcover:hover {
    transform: scale(1.05);
}

.vinyl {
    width: 20rem;
    grid-row-start: 1;
    bottom: 1rem;
}

.recordinfo {
    grid-row-start: 1;
    position: absolute;
    align-self: center;
    justify-self: center;
    margin-top: 2.5rem;
    font-size: 0.9rem;
}

.albumcover {
    width: 20rem;
    transition: 0.3s;
}

.albumcover img {
    width: 100%;
    height: auto;
}

.form {
    border-color: #ffffff;
    border-style: solid;
    position: absolute;
    left: 30%;
    top: 30%;
    margin: 2rem 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 2rem;
}

footer {
    padding: 2rem;
}
