* {
    box-sizing: border-box;
    font-family: courier, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #191970;
    color: #ffffff;
}
.collection {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.recordcontainer {
    padding: 4rem 1rem;
    margin: 1rem 2rem;
    display: grid;
    grid-template-rows: 0.3fr 0.7fr;
    /*align-items: ;*/
    /*gap: 1rem;*/
    /*flex-wrap: wrap;*/
    /*border-style: solid;*/
    /*border-color: #ffffff;*/
    align-items: end;
    /*justify-content: center;*/
}

.vinyl {
    width: 20rem;
    grid-row-start: 1;
    /*position: relative;*/
    /*top: 1rem;*/
    bottom: 1rem;
    /*justify-content: start;*/
}

.recordinfo {
    grid-row-start: 1;
    position: absolute;
    /*align-items: end;*/
    align-self: center;
    justify-self: center;
    margin-top: 2.5rem;
    font-size: 0.9rem;
}


